@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a href="c:\users\dell\source\repos\labenvi\labenvi-ui\views\home\privacy.cshtml">c:\users\dell\source\repos\labenvi\labenvi-ui\views\home\privacy.cshtml</a>